*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 2em;
    font-weight: 600;
}

.contact .content p{
    font-size: 1.1em;
    font-weight: 300;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px;
    display: flex;
    cursor: pointer;
}

.container .contactInfo .box .icon{
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 27.5deg , rgb(66, 192, 144) 0% , rgb(66, 192, 144) 10% , transparent 10% , transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contactInfo .box .icon::before{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg , rgb(66, 192, 144) 0% , rgb(66, 192, 144) 10% , transparent 10% , transparent 50%);
}

.container .contactInfo .box .icon::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: white;
}

.container .contactInfo .box .icon b{
    position: absolute;
    inset: 8px;
    background: rgb(66, 192, 144);
    z-index: 2;
}

.container .contactInfo .box .icon ion-icon{
    position: relative;
    z-index: 1000;
    font-size: 1.25em;
}

.container .contactInfo .box .text{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-weight: 500;
}

.container .contactInfo .box .text h3{
    font-weight: 800;
    color:  rgb(66, 192, 144);
}

.container .contactInfo .txt{
    margin-top: 50px;
    font-weight: 500;
    border-left: 50px solid rgb(66, 192, 144);
    padding-left: 10px;
    line-height: 1em;
}

.container .contactInfo .social{
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.container .contactInfo .social li{
    list-style: none;
}


.container .contactInfo .social li a ion-icon{
    color: black;
}

.container .contactInfo .social li a{
    font-size: 1.5em;
    transition: 0.25s;
}


.container .contactInfo .social li a:hover{
    color: rgb(66, 192, 144);
    filter: drop-shadow(0 0 10px rgb(66, 192, 144));
}

.container .contactForm{
    position: relative;
    width: 40%;
    z-index: -1;
    background: repeating-conic-gradient(from var(--a) , rgb(66, 192, 144) 0% , rgb(66, 192, 144) 10% , transparent 10% , transparent 50%);
    animation: animate 6S linear infinite;
    padding: 60px;
}

.container .contactForm::before{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: repeating-conic-gradient(from var(--a) , rgb(66, 192, 144) 0% , rgb(66, 192, 144) 10% , transparent 10% , transparent 50%);
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.container .contactForm::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 2px;
    border: 20px solid white;
    background: rgb(190, 197, 197); 
}

@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate
{
    0%
    {
        --a: 0deg;
    }
    100%
    {
        --a: 360deg;
    }
}

.container .contactForm form{
    position: relative;
    z-index: 10%;
}

.container .contactForm form h2{
    font-size: 2em;
}

.container .contactForm form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.container .contactForm form .inputBox input , 
.container .contactForm form .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid rgb(66, 192, 144);
    color: #fff;
    outline: none;
    resize: none;
}

.container .contactForm form .inputBox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: gray;
    transition: 0.5s;
}

.container .contactForm form .inputBox input:focus ~ span, 
.container .contactForm form .inputBox textarea:focus ~ span, 
.container .contactForm form .inputBox input:valid ~ span, 
.container .contactForm form .inputBox textarea:valid ~ span{
    color: rgb(66, 192, 144);
    font-size: 0.9em;
    transform: translateY(-24px);
}

.container .contactForm form .inputBox input[type = "submit"]{
    width: 100%;
    background: rgb(66, 192, 144);
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
}









































