{% extends 'PyFree/base.html' %}

{% block content %}

<section class="yes">
    <div class="hero-text">
        <h1>Des experts pour vos projets IT & Data</h1>
        <p>Confiez la réalisation de vos projets Web/Data à nos équipe d’experts. PyFree vous accompagne pour mettre entre vos mains une solution sur mesure répondant à vos besoins. Une prestation en remote, alliant coût et qualité pour vous permettre de vous concentrer sur votre cœur de métier et stimuler votre croissance.</p>
        <a href="#" class="test"><ion-icon name="arrow-forward-outline"></ion-icon>Nos services</a>
        <a href="#" class="ctaa"><ion-icon name="arrow-forward-outline"></ion-icon>Discuter avec nos experts</a>
    </div>

    <div class="hero-img">
        <img src="https://www.servicenow.com/content/dam/servicenow-assets/public/en-us/images/company-library/what-is-pages/what-is-a-service-desk.jpg.thumb.320.320.png">
    </div>
</section>

{% endblock %}
    